@import "./media-queries-mixins.scss";

@mixin dropdown($isList : false) {
    display: none;
    background: #fff;
   
    @include bp( desktop ){
        padding: 85px 50px 20px;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 800px;
        border: 1px solid $graylight;
        border-top: none;
        z-index: -1;
    }

    &--show {
        display: flex;
        flex-direction: column;
        
        @include bp(desktop){
            flex-direction: row;
        }
    }

    &__item {

        &__link {
            color: #000;
            white-space: nowrap;
            display: block;
            padding: 10px 0;
        }
    }
}