@import "./media-queries-mixins.scss";


.nav__hamburger{

    background: $jllBrandPrimary;
    height: 100%;
    min-width: 59px;
    border-left: 1px solid darken($color: $jllBrandPrimary, $amount: 10);
    display: flex;
    justify-content: center;
    align-items: center;
    
    @include bp(desktop){
        display: none;
    }

    &__container{
        width: 50%;
        position: relative;
        padding: 0;
    }

    &__icon{
        height: 2px;
        background: #fff;
        width: 100%;
        display: block;
        transition: all .5s ease;

        &::before{
            content: " ";
            height: 2px;
            background: #fff;
            width: 100%;
            display: block;
            position: absolute;
            top: -12px;
            transition: all .5s ease;
        }

        &::after{
            content: " ";
            height: 2px;
            background: #fff;
            width: 100%;
            display: block;
            position: absolute;
            top: 12px;
            transition: all .5s ease;
        }

        &--open{
            background: transparent;
            
            &::before{
                transform: rotate(-45deg);
                top: 0;
            }

            &::after{
                transform: rotate(45deg);
                top: 0;
            }
        }
    }


}