@import "./dropdown-mixin.scss";

.secondary-nav {
    display: flex;
    align-content: center;
    margin: 0;
    flex-direction: column;
    width: 100%;

    @include bp(desktop){
        flex-direction: row;
        width: initial;
    };

    &__item {
        padding: 15px 20px;
        width: 100%;
        justify-content: space-between;
        border: none;

        @include bp(desktop){
            width: initial;
            justify-content: flex-start;
            padding: 23px 10px 12px;
            border-bottom: 8px solid transparent;
            display: flex;

        }

        &__link {
            color: $gray;
            font-weight: 300;

            &:hover {
                text-decoration: none;
                color: $gray;
            }

            &--carrot {
                height: 20px;
                width: 20px;
                position: relative;
                @include carrot($carrotTopOffset, $gray, $carrotWidth, $carrotSize);
            }
        }

        &--dropdown {
            
            @include bp( desktop ){
                padding-right: 10px;
            }

            .secondary-nav__item {
                &__link {
                    display: flex;
                }
            }
        }
    }

    &__dropdown {
        @include dropdown(true);
    }

    &__col {
        @include dropdown-col();
    }

    &__featured {
        @include featured-item();
        display: none;

        @include bp(desktop){
            display: block;
        }
    }
}