

$graylight : lightgray;
$gray      : #626468;
$jllBrandPrimary : #E30613;
$jllDefaultTextColor : #000;

$carrotSize : 6px;
$carrotTopOffset : 10px;
$carrotWidth : 2px; 
$countries : Argentina, Brazil, Canada, Chile, Colombia, Mexico, Peru, USA, Philippines, Macau, Sri_Lanka, Singapore, Taiwan, New_Zealand, Malaysia, Japan, Indonesia, India, Thailand, Australia, China, Hong_Kong, Vietnam, Romania, Portugal, Poland, Netherlands, Morocco, Luxembourg, Italy, Israel, Ireland, France, Hungary, Germany, Belgium, Czech_Republic, Egypt, Finland, UK, UAE, slovakia, Russia, South_Africa, Ukraine, Turkey, Sweden, Saudi_Arabia, Spain, Switzerland, Korea,
;